/**
 * Created by Wojtek on 2018-02-24.
 */
.loader {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100vw;
  height: 100vw;
  &__image {
    max-width: 200px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 25%;
    img {
      width: 100%;
      transform: translate(-50%);
      animation: pulse 5000ms infinite ease-in-out;
    }
  }
}

// loader animation
@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.7;
  }
}
