/**
 * Created by Wojtek on 2018-02-22.
 */

.single-bear {
  .info-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
  }
  &__image {
    width: 30%;
    display: flex;
    align-items: center;
    img {
      width: 100%;
      max-width: 90px;
      height: auto;
      display: block;
      margin: 0 auto;

    }
  }
  &__copy {
    width: 70%;
    &--numeric {
      display: flex;
    }
  }

  &__exit {
    width: 22px;
    position: absolute;
    top: 10px;
    left: auto;
    right: 15px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    color: black;
    text-align: center;
    line-height: 24px;
    font-weight: 700;
    transition: .3s;
    &:hover {
      background-color: black;
      color: white;
    }
  }
  &__food {
    list-style-type: none;
  }
  .beers-hint {
      display: flex;
    .beer-hint__item {
      width: 10%;
      &--img {
        width: 100%;
        display: block;
        margin: 0 auto;
        height: auto;
      }
    }
  }

}

//MODAL STYLES & ANIMATION
.modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: $spacer-top;
  transform: scale(0);
  z-index: 100;
  &.showIn {
    transform: scaleY(.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    .modal-background {
      background: rgba(0, 0, 0, .8);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      .modal {
        background: white;
        padding: 20px 50px;
        display: inline-block;
        border-radius: 10px;
        font-weight: 300;
        position: relative;
        width: 50%;
        height: auto;
        transform: scale(0);
        animation: zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      }
    }
    &.showOut {
      transform: scale(1);
      animation: unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      .modal-background {
        .modal {
          animation: zoomOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
      }
    }
  }
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(.005) scaleX(0);
  }
  50% {
    transform: scaleY(.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(.005) scaleX(1);
  }
  100% {
    transform: scaleY(.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
